<div class="jumbotron jumbotron-fluid text-white"
  style="background-image: url('https://image.jimcdn.com/app/cms/image/transf/none/path/s95db0978189a0c1b/backgroundarea/ifb7ee04e0334596a/version/1535857777/image.jpg'); background-position: center center;background-size:cover;">
  <div class="container mb-4 pt-5 text-center" style="text-shadow: 1px 1px 2px #000000;">

    <h1 class="display-4 font-weight-bold">
      Tabelle di sistema:
      Città
    </h1>

  </div>
</div>