<app-navbar></app-navbar>
<app-title></app-title>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
        <app-list (anagSelectedOut)="displayForm($event)"></app-list>
    </div>
    <div class="col-md-8">
        <app-detail *ngIf="anagrafica!=null" [anagrafica]="anagrafica"></app-detail>
    </div>
  </div>
</div>