<form action="" method="post">
  <div class="form-row">
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="cognome">Cognome</label>
      <input type="text" class="form-control" name="cognome"
        id="cognome" [value]="anagrafica.cognome" required>
    </div>
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="nome">Nome</label> <input
        type="text" class="form-control" name="nome" id="nome"
        [value]="anagrafica.nome" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="dataNascita">Data di nascita</label> 
        <input type="text" class="form-control" id="dataNascita" name="dataNascitaString"
        [value]="anagrafica.dataNascita" required>
    </div>
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="sesso">Sesso</label>
      <select name="sesso" class="form-control" id="sesso" required>
        <option value=""></option>
        <option value="M" [attr.selected]="anagrafica.sesso=='M' ? true: null">Maschio</option>
        <option value="F" [attr.selected]="anagrafica.sesso=='F' ? true: null">Femmina</option>
        <option value="X" [attr.selected]="anagrafica.sesso=='X' ? true: null">Altro</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="telefono">Telefono</label>
      <input type="tel" class="form-control" name="telefono" id="telefono"
        [value]="anagrafica.telefono" required>
    </div>
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="mail" id="email"
      [value]="anagrafica.mail" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="statoCivile">Stato Civile</label> 
      <select name="statoCivile"
        class="form-control" id="statoCivile" required>
        <option value=""></option>
        <option value="celibe"  [attr.selected]="anagrafica.statoCivile=='celibe' ? true: null">Celibe</option>
        <option value="sposato" [attr.selected]="anagrafica.statoCivile=='sposato' ? true: null">Sposato</option>
        <option value="vedovo"  [attr.selected]="anagrafica.statoCivile=='vedovo' ? true: null">Vedovo</option>
        <option value="altro"   [attr.selected]="anagrafica.statoCivile=='altro' ? true: null">Altro</option>
      </select>
    </div>
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="codiceFiscale">Codice Fiscale</label>
      <input type="text" class="form-control" name="codiceFiscale" id="codiceFiscale"
      [value]="anagrafica.codFiscale" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 col-xs-12 required">
      <label for="iban">Iban</label> 
      <input type="text" class="form-control" name="iban" id="iban"
      [value]="anagrafica.iban" required>
    </div>
    <div class="form-group col-md-6 col-xs-12 required">
      <label class="d-block">Incensurato</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="incensurato_si"
          name="incensurato" value="true"
          [attr.checked]="anagrafica.incensurato==true ? true: null"
          >
          <label class="form-check-label" for="incensurato_si">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="incensurato_no"
          value="false" name="incensurato"
          [attr.checked]="anagrafica.incensurato!=true ? true: null"
          >

          <label class="form-check-label" for="incensurato_no">No</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12 pt-4 required">
      <label class="d-block">Privacy</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="privacy_si"
          name="privacy" value="true"
          [attr.checked]="anagrafica.privacy==true ? true: null"
          >
          <label class="form-check-label" for="privacy_si">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="privacy_no"
          value="false" name="privacy"
          [attr.checked]="anagrafica.privacy!=true ? true: null"
          > <label
          class="form-check-label" for="privacy_no">No</label>
      </div>

      <em class="text-muted d-block">* E' necessario accettare la privacy per procedere</em>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-12 pt-4 pb-5">
      <button type="submit" class="btn btn-primary">
        Salva
      </button>
    </div>
  </div>
  <input type="hidden" name="dataInsString"
    [value]="anagrafica.dataIns"> <input type="hidden"
    name="dataUpdString" [value]="anagrafica.dataUpd">
  <input type="hidden" name="userIns" [value]="anagrafica.userIns">
  <input type="hidden" name="userUpd" [value]="anagrafica.userUpd">
  <input type="hidden" name="idAnagrafica"
  [value]="anagrafica.idAnagrafica">
</form>