<nav
		class="navbar navbar-expand-lg navbar-light shadow-sm bg-white fixed-top"
		style="opacity: 0.8"
		>
		<a class="navbar-brand" href="#"> <img
			src="https://www.betacom.it/wp-content/uploads/2018/10/logo_betacom-2.png"
			height="30" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link"	href="">Home</a>
				</li>
				<li class="nav-item">
          <a class="nav-link"	href="">Anagrafica</a>
        </li>
				<li class="nav-item">
          <a class="nav-link"	href="">Utenze</a>
				</li>
				<li class="nav-item dropdown active">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					    role="button" data-toggle="dropdown" aria-haspopup="true"
					    aria-expanded="false"> Tabelle di sistema
				</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Stati</a> 
            <a class="dropdown-item" href="">Province</a> 
            <a class="dropdown-item" href="">Città</a>
					</div></li>
			</ul>
			<a class="navbar-text nav-link" href="/logout"> Logout </a>
		</div>
	</nav>