<li class="media border rounded shadow-sm" (click)="onSelectAnag()">
  <img src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-04-512.png" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0 mb-1">{{anagrafica.cognome}} {{anagrafica.nome}}</h5>
    {{anagrafica.telefono}}
  </div>
</li>